<%= form_for @task do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_field :details, class: 'form-control', required: true %>
  </div>

  <% if  @task.persisted? %>

    <div class="form-group">
      <%= f.label :completed %>
      <%= f.check_box :completed, class: 'form-control' %>
    </div>

  <% end %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
